@tailwind base;
@tailwind components;
@tailwind utilities;


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




.session-uiiu {
  background-image: url(./assets/bg-img-1.jpg);
  background-image: cover;
  background-position: center;
  opacity: 1;
  transition: background-image .5s ease-in-out;
}


.session-branding {
  background-image: url(./assets/bg-img-2.jpg);
  background-image: cover;
  background-position: center;
  opacity: 1;
  transition: background-image .5s ease-in-out;
}


.session-impressos {
  background-image: url(./assets/bg-img-3.jpg);
  background-image: cover;
  background-position: center;
  opacity: 1;
  transition: background-image .5s ease-in-out;
  
}

.session-foto{
  background-image: url(./assets/bg-img-4.jpg);
  background-image: cover;
  background-position: center;
  opacity: 1;
  transition: background-image .5s ease-in-out;
  
}

.session-edicao {
  background-image: url(./assets/bg-img-5.jpg);
  background-image: cover;
  background-position: center;
  opacity: 1;
  transition: background-image .5s ease-in-out;
  
}

.session-podcast {
  background-image: url(./assets/bg-img-6.jpg);
  background-image: cover;
  background-position: center;
  opacity: 1;
  transition: background-image .5s ease-in-out;
  
}

