@tailwind base;
@tailwind components;
@tailwind utilities;


.session-uiiu {
  background-image: url(./assets/carreira_bg_04.jpg);
  background-image: cover;
  background-position: center;
  opacity: 1;
  transition: background-image .5s ease-in-out;
}


.session-branding {
  background-image: url(./assets/carreira_bg_06.jpg);
  background-image: cover;
  background-position: center;
  opacity: 1;
  transition: background-image .5s ease-in-out;
}


.session-impressos {
  background-image: url(./assets/carreira_bg_05.jpg);
  background-image: cover;
  background-position: center;
  opacity: 1;
  transition: background-image .5s ease-in-out;
  
}

.session-foto{
  background-image: url(./assets/carreira_bg_01.jpg);
  background-image: cover;
  background-position: center;
  opacity: 1;
  transition: background-image .5s ease-in-out;
  
}

.session-edicao {
  background-image: url(./assets/carreira_bg_02.jpg);
  background-image: cover;
  background-position: center;
  opacity: 1;
  transition: background-image .5s ease-in-out;
  
}

.session-podcast {
  background-image: url(./assets/carreira_bg_03.jpg);
  background-image: cover;
  background-position: center;
  opacity: 1;
  transition: background-image .5s ease-in-out;
  
}

